img{
    width: 100%;
    padding-left: 5%;
    padding-bottom: 5%;

}

hr{
    margin-left: 25%;
    margin-right: 25%;
}

#articles .heure{
    font-size: 0.8em;
    color: gray;
    display: flex;
    justify-content: flex-end;
}

#article{
    border: 1px solid rgba(150, 150, 150, 0.5);
    border-radius: 10px;
    text-align: justify;
    padding-top: 2.5%;
    padding-right: 5%;
}

#fil_actu{
    justify-content: center;
}